<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'game/css/style4.css' %}">
</head>
<body>
    <div class='wrapper'>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mutt Match</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">About<span class="sr-only">(current)</span></a></li>
                        <li><a href="/how_it_works">How it Works</a></li>
                        <li><a href="/partner">Become a Partner</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a id='play' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class='container'>
                <div class='row'>
                    <div class=col>
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-interval="false">
                            <div class="carousel-inner">
                                {%for animal in animals%}
                                    {%if forloop.first %}
                                        <div class="carousel-item active"> 
                                    {%else%}
                                        <div class="carousel-item"> 
                                    {%endif%}   
                                            <img class="d-block w-100" src="../../static/game/images/dog{{animal.id}}.jpeg" alt="{{animal.name}}">
                                            <div class="caption carousel-caption">
                                                    <h3>{{animal.name}}</h3>
                                                    <h5>{{animal.age}}</h6>
                                                    <h5>{{animal.gender}}</h6>
                                                    <h5>{{animal.breed}}</h6>
                                                    <h5>{{animal.location.name}}</h5>
                                                    {%if animal.liked_by.count > 0%}
                                                        <h5 style="color: green">Liked by {{animal.liked_by.count}} people</h5>
                                                    {%endif%}
                                                    <p>{{animal.description}}</p>
                                                    <table>
                                                        <td>
                                                            <form action='/dislike' method='post'>
                                                                {%csrf_token%}
                                                                <input type="hidden" name='animal' value='{{animal.id}}'>
                                                                <button type='submit' class="btn btn-danger" data-slide="prev">
                                                                    Pass
                                                                </button>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action='/like' method='post'>
                                                                {%csrf_token%}
                                                                <input type="hidden" name='animal' value='{{animal.id}}'>
                                                                <button type='submit' class="btn btn-success" data-slide="next">
                                                                    Like
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </table>
                                                  </div>
                                            </div>
                                        </div>
                                    {%endfor%}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel()
    </script>
</body>
</html>