<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'game/css/style6.css' %}">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mutt Match</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">About<span class="sr-only">(current)</span></a></li>
                        <li><a href="/how_it_works">How it Works</a></li>
                        <li><a href="/partner">Become a Partner</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a id='play' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{shelter.name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="home container">
            <div class='row'>
                <div class='info col-lg-6'>
                    <h1>Add an Animal:</h1>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color:red">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    <div class='form container'>
                        <form action='/registeranimal' method='post'>
                            {%csrf_token%}
                            <div class="form-group">
                                <input name='name' type="text" class="form-control" placeholder='Name'>
                            </div>
                            <div class="form-group">
                                <label for="name">Gender:  </label>
                                <input type="radio" name="gender" value="Male"> Male
                                <input type="radio" name="gender" value="Female"> Female
                            </div>
                            <div class="form-group">
                                <label for="name">Age:  </label>
                                <input type="radio" name="age" value="Young"> Young
                                <input type="radio" name="age" value="Adult"> Adult
                                <input type="radio" name="age" value="Senior"> Senior
                            </div>
                            <div class="form-group">
                                <label for="species">Species:  </label>
                                <input type="radio" name="species" value="Dog"> Dog
                                <input type="radio" name="species" value="Cat"> Cat
                            </div>
                            <div class="form-group">
                                <input name='breed' type="text" class="form-control" placeholder='Breed'>
                            </div>
                            <div class="form-group">
                                <textarea name='descrip' type='text' placeholder='Description - be creative'></textarea>
                            </div>
                            <div class="form-group">
                                <label for="avatar">Photo:</label>
                                <input type="file" name="photo" accept="image/png, image/jpeg" />
                            </div>
                            <input type='hidden' name='shelter_id' value='{{shelter.id}}'>
                            <button type="submit" class="btn btn-info">Register</button>
                        </form>
                    </div>
                </div>
                <div class='inmates col-lg-6'>
                    <div>
                        <h1>Current Animals</h1>
                        <div>
                            <h3>Dogs:</h3>
                            <ol>
                                {%for animal in animals%}
                                    <li><a href='#'>{{animal.name}}</a></li>
                                {%endfor%}
                            </ol>
                            <h3>Cats</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>