.form{
    display: flex;
    justify-content: center;
    height: 90%vh;
}

.info{
    margin: auto;
}
.info h1{
    text-align: center;
    margin-top:25px;
}
.input{
    width:450px;
}
/* .info .input{
    width:80%;
    margin-left:10%;
}

.input button{
    margin-left:10%;
} */